---
layout: home
title: Index
---
{% assign sorted = site.slides | sort: 'date' | reverse %}
{% for page in sorted %}
  {% if page.category %}
    {% assign category = page.category %}
    {% if category != myCategory %}
      {% unless forloop.first %}</ul></ul><hr>{% endunless %}
      {% assign id_category = category | replace: " ", "-" %}
      {% assign info_category = site.data.categories[id_category] %}
      <ul>
        <h4>{{ category }}</h4>
        <ul>
      {% assign myCategory = category %}
    {% endif %}
    {% if page.category == category %}
    <li><a href="{{ site.url }}{{ page.url }}" target="_blank">{{ page.title }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
