.reveal .head{
	text-transform: inherit;
	text-align: right;
	line-height: 1.4;
}
.reveal .comment{
	font-family: monospace;
	font-weight: lighter;
	font-style: italic;
	text-transform: inherit;
	text-align: left;
	color: #bbb;
}
.reveal #structure .comment{
	font-style: normal;
}
.reveal #ml-model .comment{
	font-style: normal;
}
.reveal #ml-model i{
	font-weight: bold;
	color: #FFF;
}
.reveal .mark {
	background: #000;
	filter: url("#goo");
	padding: 7px 13px 5px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
.reveal .mb{
	margin-bottom: 3rem;
}
